<template>
		
	<div>
		<main id="tg-main" class="tg-main tg-haslayout">
			<section class="tg-sectionspace tg-haslayout">
				
				<div class="container">
					<div class="row">

						<form class="tg-formtheme tg-formdashboard">
							<fieldset>
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								 		<div class="tg-dashboardbox">
								            <div class="tg-dashboardboxtitle">
								              <h2>Lista de Pedidos</h2>
								            </div>
								            <div class="tg-dashboardholder">
								              <table id="tg-adstype" class="table tg-dashboardtable tg-payments">
								                      <thead>
								                        <tr>
								                          <th>Producto</th>
								                          <th>Precio</th>
								                          <th>Cantidad</th>
								                          <th>Imagen</th> 
								                          <th>Sub-Total</th>
								                          <th>Opcion</th>
								                        </tr>
								                      </thead>
								                      <tbody>
								                        <tr data-category="packageone" v-for="datap in pedidos">
								                          <td data-title="Producto" style="width: 272px;">
								                            <h3>{{ datap.no_producto }}</h3>
								                          </td>
								                          <td data-title="Precio" style="width: 91px;"><h3>S/. {{ datap.pt_producto }} </h3></td>
								                          <td data-title="Cantidad">
								                               <div class="quantity-toggle" style="margin-top: 29px;">
																	<button @click="decrement(datap.cant_producto,datap.id_pedidos)" :disabled="isDisabled">&mdash;</button>
																	<input type="text" v-model="datap.cant_producto" disabled>
																	<button @click="increment(datap.cant_producto,datap.id_pedidos)">&#xff0b;</button>
																</div>
								                          </td> 
								                          <td data-title="Imagen">
								                            <img :src="'/productos/'+datap.tx_img" style="width: 120px;">
								                          </td>
								                          <td data-title="Sub-Total" >
								                              <h3>{{ parseFloat(datap.cant_producto*datap.pt_producto).toFixed(2)  }}</h3>
								                          </td>
								                          <td data-title="Opcion">
								                            <div class="tg-btnsactions">
								                              <a class="tg-btnaction tg-btnactiondelete" style="color: rgb(217 44 44) !important;" @click="EliminarPedido(datap.id_pedidos)">
								                                <i class="fa fa-trash" style="font-size: 22px;"></i>
								                              </a>
								                            </div>
								                          </td>
								                        </tr>
								                      </tbody>
								                      <tbody>
								                        <tr data-category="packageone">
								                          <td ></td>
								                          <td ></td>
								                          <td ></td>
								                          <td >
								                             Total :
								                          </td>
								                          <td >
								                              S/ {{total = parseFloat(calcularTotal).toFixed(2) }}
								                          </td>
								                        </tr>
								                      </tbody>

								              </table>
								              <br>
								              <span>
								              	<h5>
								              		*Es necesario llenar estos datos para que tu pedido llegue seguro.
								              	</h5>
								              </span>

								                <div class="tg-dashboardholder">
								                    <div class="form-group">
								                        <div class="col-md-6">
								                            <input type="text"  v-model="no_cliente" class="form-control" placeholder="Nombres y Apellidos">
								                        </div>
								                        <div class="col-md-6">
								                            <input type="text"  v-model="tl_cliente" class="form-control" placeholder="Telefono">
								                        </div>
								                    </div>
								                    <div class="form-group">                        
								                        <input type="text"  v-model="tx_direccion" class="form-control" placeholder="Direccion">
								                    </div>
								                    <div class="form-group">
								                        <input type="text"  v-model="email_cliente" class="form-control" placeholder="E-mail" >
								                    </div>
								                    <div class="form-group">
								                      <div class="col-md-4">
								                            
								                      </div>
								                    </div>

								                    <div class="form-group">
								                        <div class="col-md-4">
								                            
								                        </div>
								                        <div class="col-md-4">
								                            <label>Metodo de Pago</label>
								                        </div>
								                        <div class="col-md-4">
								                            <select @change="onPago($event)" v-model="tipopago" class="form-control">
								                                <option value="tarjeta">Tarjeta</option>
								                            </select>
								                        </div>
								                    </div>

								                    <div class="form-group">
								                        <div class="col-md-4">
								                        </div>
								                        <div class="col-md-2">
								                            
								                        </div>
								                        <div class="col-md-6">
								                            <input type="checkbox" :checked="terminosycondiciones" v-model="terminosycondiciones">
								                            <span>
								                                 Acepto Términos y Condiciones
								                            </span> 
								                        </div>
								                    </div>
								                    <div class="form-group">
								                        <div class="col-md-5">
								                        	<button class="tg-btn" @click="$router.go(-1)"><i class="fa fa-back"></i> Volver</button>
								                        </div>
								                        <div class="col-md-2">
								                            
								                        </div>
								                        <div class="col-md-5">
								                            <template v-if="terminosycondiciones == true">
								                                <button class="tg-btn" v-if="accionpago==1"  @click="Token_Seguridad()" style="background: rgb(217 44 44);">Tarjeta</button>
								                                <button class="tg-btn" v-if="accionpago==2" @click="Efectivo()" style="background: rgb(217 44 44);">Efectivo</button>
								                            </template>
								                            <template v-else>
								                                <button class="tg-btn" v-if="accionpago==1"  disabled style="background: #aeb3b0 !important;">Tarjeta</button>
								                                <button class="tg-btn" v-if="accionpago==2"  disabled style="background: #aeb3b0 !important;">Efectivo</button>
								                            </template>
								                        </div>
								                    </div>

								              </div>
								            </div>
								 		</div>
									</div>
							</fieldset>
						</form>

					</div>
				</div>
			</section>
		</main>
	</div>

</template>


<script>


export default {
  name: "App",

  props:['token_session', 'hora', 'transaccion'],

  data:function(){
      return {
        items_prod:[],
        buscarcomercio:'',
        categoriaproductos:'',
        permiso:0,
        id_categoria:'',
        id_subcategoria:'',
        pedidos:[],
        no_cliente:'',
        tl_cliente:'',
        tx_direccion:'',
        email_cliente:'',
        terminosycondiciones:false,
        tipopago:'',
        accionpago:0,
        total:'',
        cant_producto:'',
        nu_transaccion:this.transaccion['numero'],
      }
  },

  computed:{

    calcularTotal: function(){
        var resultado=0.0;
        let me = this;
        for(var i=0;i<this.pedidos.length;i++){
          resultado= resultado+(this.pedidos[i].pt_producto*this.pedidos[i].cant_producto);
        }
        return resultado;
    },

    isDisabled:function(){
    	var result;
    	for(var i=0;i<this.pedidos.length;i++){
    		if (this.pedidos[i].cant_producto == 1.5) {
    			result = this.pedidos[i].cant_producto > 1.5? false:true;
    		} else {
    			if (this.pedidos[i].cant_producto == 1.0) {
	    			result = this.pedidos[i].cant_producto > 1.0? false:true;
	    		} 
    		}    		
        }

        return result;
    }


  },


  methods:{


        Pedidos(){
          let me = this;
          axios.get('/lista_pedidos/'+this.token_session).then(function(response){
          		me.pedidos = response.data;                
          });
          
        },


	    EliminarPedido(id_pedidos){
	        let me=this;
	        Swal.fire({
					title: "¿Seguro de eliminar este pedido?",
					type: 'warning',
					showCancelButton: true,
					confirmButtonText: 'Si',
					cancelButtonText: 'No',
					reverseButtons: true
			}).then((willDelete) => {
				if (willDelete.value) {
					axios.delete('/pedidos/eliminar/'+id_pedidos).then(function(response){
		                if (response.data.status==='success') {
		                    Swal.fire({
		                      title: response.data.message,
		                      text: 'Eliminacion Exitosa!',
		                      type: 'success',
		                      confirmButtonText: 'OK'
		                    });
		                    me.Pedidos()
		                }else{
		                    Swal.fire({
		                      title: response.data.message,
		                      text: 'Error al Eliminar Item',
		                      type: 'success',
		                      confirmButtonText: 'OK'
		                    })
		                };
		          	})

				} else if(response.data.status==='error'){
						Swal.fire({
							title: response.data.message,
							text: 'Error al eliminar el Item',
							type: 'error',
							confirmButtonText: 'OK'
						})
				}
			});
          
	    },


	    Corte(id_categoria){
	    	let me = this;
	    	axios.post('corte',{
	    		'id_categoria':id_categoria
	    	}).then(function(response){
	    		if (response.data != 0) {
	    			me.items_prod = response.data;   
	    		}else{
	    			Swal.fire({
						title: 'No hay productos',
						type: 'error',
						confirmButtonText: 'OK'
					})
	    		}
          		             
          	});
	    },


	    onPago(event){
	      var pago=event.target.value;
	      if(pago == 'tarjeta'){
	          this.accionpago = 1;
	      }else{
	          if(pago == 'efectivo'){
	              this.accionpago = 2;
	          }
	      }
	                
	    },

	    increment (cant_producto,id_pedidos) {
	    	let me = this;
	    	var cantidad_producto=parseFloat(cant_producto)+0.5;
	    	axios.put('/put/cant_producto',{
	            'cant_producto': cantidad_producto,
	            'id_pedidos':id_pedidos
	        }).then(function(data){
	        	me.pedidos=data.data;
	        	console.log(data.data);
	        })
	    },

	    decrement (cant_producto,id_pedidos) {

	    	let me=this;
		    var cantidad_producto=parseFloat(cant_producto)-0.5;
		    axios.put('/put/cant_producto',{
	            'cant_producto': cantidad_producto,
	            'id_pedidos':id_pedidos
	        }).then(function(data){
	        	me.pedidos=data.data;
	        	console.log(data.data);
	        })

	    },

	    Token_Seguridad(){
	    	let me = this;
	    	axios.post('/token_seguridad_niubiz').then(function(response){
	    		console.log(response.data);
	    		me.Token_Session(response.data);
          	});
	    },

	    Token_Session(token_seguridad){
	    	let me = this;
	    	axios.post('/token_session_niubiz', {
	    		'token_seguridad':token_seguridad, 
	    		'amount':me.total
	    	}).then(function(response){
	    		console.log(response.data);
	    		me.Form_Niubiz(response.data);
          	});
	    },

	    Form_Niubiz(token_session){
	    	let me = this;
	    		VisanetCheckout.configure({
					sessiontoken: token_session,
					channel: 'web',
					merchantid: '650188191',
					formbuttoncolor: '#D80000',
					purchasenumber: me.nu_transaccion,//numero de pedidos unico por transaccion
					showamount: "true",
					amount: me.total,
					merchantlogo: 'https://www.laoxapampina.com/logo/01.png', //logo de la empresa
					merchantname:'La Oxapampina',
					expirationminutes: 5,
					timeouturl: 'https://laoxapampina.com',//redireccion cuando caduque la session
					action: '/trasaction?amount='+ me.total+
							'&numbertransaction='+me.nu_transaccion+
							'&no_cliente='+me.no_cliente+
							'&mail_cliente='+me.email_cliente+
							'&tx_direccion='+me.tx_direccion+
							'&tl_cliente='+me.tl_cliente+
							'&totalpagar='+me.total
				});
				VisanetCheckout.open();
	    },


	    PagoEfectivo(){
	        let me = this;
	        axios.post('/pagoefectivo',{
	            'total_pagar' : me.total,
	            'email_cliente' : me.email_cliente, 
	            'no_cliente' : me.no_cliente,
	            'tx_direccion' : me.tx_direccion,
	            'tl_cliente' : me.tl_cliente,
	            'tipopago' : me.tipopago,
	            'nu_transaccion' : me.nu_transaccion
	        })
	        .then(response => {
	            if (response.data.status==='success') {
	                Swal.fire({
	                    title: response.data.message,
	                    type: 'success',
	                    confirmButtonText: 'OK'
	                });

	                window.location.href = '/';
	            };
	        }).catch(function (error) {
	            console.log(error);
	        });
	    }


  },


   mounted() {
            let self = this
            setTimeout(function(){
            		//self.GetProductos();
            		self.Pedidos();
            },2000);
  }

  
};
</script>