<template>
	<div>
    <!-- Filter menu -->
      <div class="pm-isotope-filter-container">
        <ul class="pm-isotope-filter-system">
            <li class="pm-isotope-filter-system-expand">Menú <i class="fa fa-angle-down"></i></li>
            <li><a href="#" class="current">{{nombre_categoria[0].no_categoria}}</a></li>
        </ul>
      </div>
    <!-- Filter menu end -->
    <div class="container pm-containerPadding80">
      <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-6 pm-column-spacing" v-for="data in items_prod" :key="data.id_producto">
            <div class="pm-store-item-container">
              <div class="pm-store-item-img-container" :style="{'background-image': 'url(/productos/'+data.tx_img+')'}"></div>
              <div class="pm-store-item-desc">
                <p class="pm-store-item-title">{{data.no_producto}}</p>
                <p class="pm-store-item-title">S/ {{data.pt_producto}}</p>
                <div class="pm-store-item-divider"></div>
                <div class="col-xs-12 col-lg-12" align="center" style="margin-top: 28px;">
                  <span v-if="nombre_categoria[0].id_categoria==1"><p class="pm-store-item-excerpt"><b>Se vende a partir de  1.5Kg. Los pesos son apróximados.</b></p></span>
                  <span v-if="nombre_categoria[0].id_categoria==4"><p class="pm-store-item-excerpt"><b>Se vende a partir de  1Kg. Los pesos son apróximados.</b></p></span>
                </div>
                <div class="pm-store-item-divider"></div>
                <ul class="pm-store-item-btns">
                    <li><a @click="AgregarCarrito(data.id_producto)" class="pm-rounded-btn small pm-primary">Agregar</a></li>
                </ul>
              </div>
            </div>
          </div>
      </div>
    </div>

		<cart :count="count" :tokensession="token_session" @click.native="Shopping()"></cart>
	</div>

</template>

<script>


import Cart from "./Custom/Cart";

export default {
  name: "App",

  props:['count', 'token_session', 'productos', 'nombre_categoria' ],

   components: {
    Cart
  },


  data:function(){
      return {
        items_prod:this.productos,
        buscarcomercio:'',
        categoriaproductos:[],
        permiso:0,
        id_categoria:'',
        id_subcategoria:'',
        pedidos:[],
        no_cliente:'',
        tl_cliente:'',
        tx_direccion:'',
        email_cliente:'',
        terminosycondiciones:false,
        tipopago:'',
        accionpago:0,
        total:'',
        cant_producto:'1.5',
        cant_embutido:'1.0',
        nu_transaccion:this.transaccion,
      }
  },

  methods:{

        AgregarCarrito(id_producto){
        	let me=this;
        	var hoy = new Date();
        	var hora = hoy.getHours()+':'+hoy.getMinutes()+':'+hoy.getSeconds();
        	document.cookie = "hora="+hora;
            if(me.nombre_categoria[0].id_categoria==1){
                axios.post('/agregar/carrito', {
                    'id_producto':id_producto,
                    'hr_compra':hora,
                    'cant_producto': me.cant_producto
                }).then(function(response){
                    me.count = response.data['count'];
                    Swal.fire({
                      title: 'Producto Agregado a su Carrito',
                      type: 'success',
                      confirmButtonText: 'OK'
                    });
                })
            }else if(me.nombre_categoria[0].id_categoria==4){                
                    axios.post('/agregar/carrito', {
                        'id_producto':id_producto,
                        'hr_compra':hora,
                        'cant_producto': me.cant_embutido
                    }).then(function(response){
                        me.count = response.data['count'];
                        Swal.fire({
                          title: 'Producto Agregado a su Carrito',
                          type: 'success',
                          confirmButtonText: 'OK'
                        });
                    })
            }
        },

        Shopping(){
          window.location.href = '/shopping/';          
        }

  }

  
};
</script>