<template>

	<main id="tg-main" class="tg-main tg-haslayout">
		<section class="tg-dbsectionspace tg-haslayout">
	      <div class="row">

	    <!--Inicio del modal agregar/actualizar-->
            <div  class="permiso" :class="{'mostrar' : permiso}" style="overflow-y: auto;padding-top: 50px;">
                <div class="permiso-content" style="width: 552px !important;">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label>Nombre del Corte</label>
                                    <input type="text" class="form-control" v-model="no_categoria"/>
                                </div>
                            </div>
                            <div class="row">
                            	<button type="button"class="btn btn-primary" @click="Guardar()">
                                        Guardar
                                </button>
                                <button type="button"class="btn btn-default" @click="Cerrar()">
                                        Cerrar
                                </button>
                            </div>
                    </div>
                </div>            
            </div>
        <!--Fin del modal-->


	        <form class="tg-formtheme tg-formdashboard">
	          <fieldset>
	            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-6 tg-lgcolwidthhalf">
	              <div class="tg-dashboardbox">
	                <div class="tg-dashboardboxtitle">
	                  <h2>Ingresar Producto</h2>
	                </div>
	                <div class="tg-dashboardholder">
	                  <div class="form-group">
	                    <input type="text"  v-model="no_producto" class="form-control" placeholder="Nombre de su Producto">
	                  </div>
	                  <div class="form-group">
	                    <select class="form-control" v-model="id_categoria">
	                      <option v-for="data in categoriaproductos"  :value="data.id_categoria">
	                          {{data.no_categoria}}
	                      </option>
	                    </select>
	                  </div>
	                  <div class="form-group">
	                    <input type="number"  v-model="pt_producto" class="form-control" placeholder="Precio">
	                  </div>
	                  <div class="form-group">
	                    <input type="number"  v-model="qt_stock" class="form-control" placeholder="Stock del Producto">
	                  </div>

                    <br><br>
                    <button class="tg-btn" type="button" @click="RegistrarProductos" v-if="register==1">Registrar</button>
                    <button class="btn btn-danger" type="button" @click="ActualizarProductos" v-if="update==1">Actualizar</button>
                    <button class="btn btn-default" type="button" @click="Cancelar" v-if="update==1">Cancelar</button>

	                </div>
	              </div>
                
	            </div>
	            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-6 tg-lgcolwidthhalf">

                <div class="form-group col-xl-12">
                  <label>Foto </label>
	              	<vue2Dropzone  ref="tx_img" id="dropzone"
                            v-on:vdropzone-max-files-exceeded="maxFilesAlert"
                            :options="dropzoneOptions">
              		</vue2Dropzone>
                </div>
                <div class="form-group col-xl-12">
                    <label>Descripción </label>
                    <vue-editor v-model="des_producto"></vue-editor>
                </div>
	            </div>
              
	          </fieldset>
	        </form>
	      </div><br><br>

	      <div class="row">
	          <form class="tg-formtheme tg-formdashboard">
	            <fieldset>
	              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	                <div class="tg-dashboardbox">
	                  <div class="tg-dashboardboxtitle">
	                    <h2>Lista de Productos</h2>
	                  </div>
	                  <div class="tg-dashboardholder">
	                    <div class="tg-otherfilters">
	                      <div class="row">
                          <div class="col-xs-12 col-sm-5 col-md-5 col-lg-4 pull-left">
                              <div  class="form-group tg-inputwithicon">
                                 <button class="btn btn-primary" @click="Modal">Agregar Corte</button>
                              </div>
                          </div>
	                        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-4 pull-right">
	                          <div class="form-group tg-inputwithicon">
	                            <i class="icon-magnifier"></i>
	                            <input type="search" class="form-control" placeholder="Nombre del Producto" v-model="search_no_producto" v-on:keyup="searchProducto">
	                          </div>
	                        </div>
	                      </div>
	                    </div>
	                    <table id="tg-adstype" class="table tg-dashboardtable tg-payments">
	                      <thead>
	                        <tr>
	                          <th>Producto</th>
	                          <th>Categoria</th>
	                          <th>Stock</th>
	                          <th>Precio</th>
	                          <th>Imagen</th>
	                          <th>Action</th>
	                        </tr>
	                      </thead>
	                      <tbody>
	                        <tr data-category="packageone" v-for="data in items_prod">
	                          <td data-title="Producto">
	                            <h3>{{data.no_producto}}</h3>
	                          </td>
	                          <td>
	                            <h3>{{data.no_categoria}}</h3>
	                          </td>
	                          <td data-title="Stock">{{data.qt_stock}}</td>
	                          <td data-title="Precio"><h3>S/ {{data.pt_producto}}</h3></td>
	                          <td data-title="Imagen">
	                            <img :src="'/productos/'+data.tx_img" style="width: 120px;">
	                          </td>
	                          <td data-title="Action">
	                            <div class="tg-btnsactions">
	                              <a class="tg-btnaction tg-btnactionview" @click="Editar(data.id_producto)"><i class="fa fa-eye"></i></a>
	                              <a class="tg-btnaction tg-btnactiondelete" href="javascript:void(0);"><i class="fa fa-trash"></i></a>
	                            </div>
	                          </td>
	                        </tr>
	                      </tbody>
	                    </table>
	                  </div>
	                </div>
	              </div>
	            </fieldset>
	          </form>
	      </div>
		</section>
	</main>
	
</template>


<script>

import vue2Dropzone from 'vue2-dropzone'
import 'vue2-dropzone/dist/vue2Dropzone.min.css'
import { VueEditor } from 'vue2-editor/dist/vue2-editor.core.js'

export default {
  name: "App",

  components: {
       vue2Dropzone,
       VueEditor
  },

  data:function(){
      return {
        items_prod:[],
        categoriaproductos:[],
        edit_prod:[],
        register:1,
        update:0,
        no_producto:'',
        des_producto:'',
        pt_producto:'',
        qt_stock:'',  
        id_categoria:'',
        id_producto:'',
        search_no_producto:'',        
        permiso:0,
        no_categoria:'',
        dropzoneOptions: {
                    url: 'empresa/producto',
                    thumbnailWidth: 150,
                    maxFilesize: 1.5,
                    addRemoveLinks : true,
                    autoProcessQueue:false,
                    headers: { 'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')},
                    maxFiles:1,
                    uploadMultiple: true,
        },
      }
  },


  methods:{

        clearForm(){
          let me = this;
          me.no_producto = '';
          me.des_producto = '';
          me.pt_producto = '';
          me.qt_stock = '';
          me.$refs.tx_img.removeFile();
        },

        maxFilesAlert(file){
                Swal.fire({
                    title: 'No permitido',
                    text: 'Solo se permiten 1 archivo',
                    type: 'error',
                    confirmButtonText: 'OK'
                })
               this.$refs.tx_img.removeFile(file);
        },

        RegistrarProductos(){
                this.$refs.tx_img.processQueue();
                let images  = this.$refs.tx_img.getAcceptedFiles();
                let index = 0;
                let files  = []
                let  data = new FormData()

                for( let i = 0; i < images.length; i++ ){
                    let file = images[i];
                    data.append('tx_img[' + i + ']', file);
                }

                data.append("id_categoria", this.id_categoria)
                data.append("no_producto", this.no_producto)
                data.append("des_producto", this.des_producto)
                data.append("pt_producto", this.pt_producto)
                data.append("qt_stock", this.qt_stock)
                axios.post('empresa/productos', data,{ headers: {'Content-Type': 'multipart/form-data'}})
                    .then(response => {
                        if (response.data.status==='success') {
                            Swal.fire({
                              title: response.data.message,
                              text: 'Producto Registrado',
                              type: 'success',
                              confirmButtonText: 'OK'
                            })
                        }else{
                            Swal.fire({
                              title: response.data.message,
                              text: 'Medidas Incorrectas de las Imagenes',
                              type: 'success',
                              confirmButtonText: 'OK'
                            })
                        };
                    this.clearForm();
                    this.GetProductos();
                }).catch(function (error) {
                    console.log(error);
                });


        },

        Editar(id_producto){
            let me=this;
            axios.get('editar_productos/'+id_producto).then(function(response){
                console.log(response.data);
                me.edit_prod = response.data[0];
                me.id_producto = me.edit_prod['id_producto'];
                me.no_producto = me.edit_prod['no_producto'];
                me.des_producto = me.edit_prod['des_producto'];
                me.pt_producto = me.edit_prod['pt_producto'];
                me.qt_stock = me.edit_prod['qt_stock'];
                me.register=0;
                me.update=1;
            });
        },

        Cancelar(){
          let me = this;
          me.no_producto = '';
          me.pt_producto = '';
          me.qt_stock = '';
          me.register=1;
          me.update=0;
        },


        ActualizarProductos(){
              let me=this;
                axios.put('update/productos',{
                    'id_producto':this.id_producto,
                    'no_producto':this.no_producto,
                    'des_producto':this.des_producto,
                    'pt_producto':this.pt_producto,
                    'qt_stock':this.qt_stock
                }).then(function(response){
                        if (response.data.status==='success') {
                            Swal.fire({
                              title: response.data.message,
                              text: 'Producto Registrado',
                              type: 'success',
                              confirmButtonText: 'OK'
                            });
                            me.clearForm();
                            me.GetProductos();
                            me.register=1;
                            me.update=0;
                        }else{
                            Swal.fire({
                              title: response.data.message,
                              text: 'Medidas Incorrectas de las Imagenes',
                              type: 'success',
                              confirmButtonText: 'OK'
                            })
                        };                    
                }).catch(function (error) {
                    console.log(error);
                });
        },

        GetProductos(){
            let me=this;
            axios.get('lista_productos').then(function(response){
                me.items_prod = response.data;
          	});
        },

        CategoriasProductos(){
              let me=this;
              axios.get('lista_categoria').then(function(response){
                me.categoriaproductos = response.data;
          });
        },

        searchProducto(){
          let me=this;
          axios.get('/buscar/producto?buscarproducto='+ me.search_no_producto).then(function(response){
              me.items_prod=response.data;
          })
        },

        Cerrar(){
          let me = this;
          me.no_categoria='';
          me.permiso=0;
        },


        Modal(){
          let me = this;
          me.permiso=1;
        },

        Guardar(){
        	let me=this;
            axios.post('guardar_categoria',{
            	'no_categoria':me.no_categoria
            }).then(function(response){
            	me.Cerrar();
                me.categoriaproductos = response.data;
          	});
        }    

  },


   mounted() {
            let self = this
            setTimeout(function(){
              self.GetProductos();
              self.CategoriasProductos();
            },2000);

  }

  
};
</script>


<style>

      
    @import "~vue2-editor/dist/vue2-editor.css";

    /* Import the Quill styles you want */
    @import '~quill/dist/quill.core.css';
    @import '~quill/dist/quill.bubble.css';
    @import '~quill/dist/quill.snow.css';
    
	  .permiso.mostrar {
      background-color: rgba(0,0,0,.5);
      opacity: 1;
      visibility: visible;
	  }
	  .permiso {
	      align-items: flex-start;
	      background-color: #fff;
	      display: flex !important;
	      height: 100vh;
	      justify-content: center;
	      left: 0;
	      opacity: 0;
	      position: fixed;
	      top: 0;
	      visibility: hidden;
	      width: 100%;
	      transition: all 0.40s cubic-bezier(0.39, 0.575, 0.565, 1);
	      z-index: 5000;
	  }

	  .permiso.mostrar .permiso-content {
        opacity: 1;
        transform: scale(1.1);
        visibility: visible;
    }
    .permiso .permiso-content {
        background-color: #fff !important;
        border-radius: 3px;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        margin-top: 50px;
        opacity: 0;
        padding: 12px;
        transform: scale(1);
        transition: all .40s cubic-bezier(0.39, 0.575, 0.565, 1);
        visibility: hidden;
    }
</style>